# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: "Release Notes - Tedee"
email: support@tedee.com
description: "Tedee Release Notes page is documentation of the past Tedee public releases of multiple areas: Android app, iOS app, Lock or Lock GO firmware, Bridge firmware, Keypad firmware."
  
baseurl: "/tedee-release-notes" # the subpath of your site, e.g. /blog
url: "https://tedee-com.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings

remote_theme: just-the-docs/just-the-docs
color_scheme: tedee
heading_anchors: true
back_to_top: true
back_to_top_text: "Back to top"
ga_tracking: G-1FQP7Q9QMC

plugins:
  - jekyll-feed
  - jekyll-sitemap

markdown: kramdown
highlighter: rouge

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

collections:
  docs:
    permalink: /:collection/:path/
    output: true

just_the_docs:
  collections:
    docs:
      name: Release Notes

kramdown:
    auto_ids: true

callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red