<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            {% assign latest_version = site.docs | sort: "version_number" | last %}
            {% assign latest_version = latest_version.version_number %}
            {% assign sort = "Android,iOS,Embedded,Portal,Integrations" | split: ',' %}

            {% assign items = site.docs | where: "version_number", latest_version | reverse %}

            {% for order in sort %}
                {% assign item = items | where: "title", order | first %}
                {% if item != nil %}
                    <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ item.permalink | relative_url }}">Release Notes</a></li>
                    {% break %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>