---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          
        </div>

        <div class="col-md-8">

            <h1><b>Release Notes</b></h1>

			<details open markdown="block">
  				<summary class="text-delta">
    				Table of contents
  				</summary>
            	{% include toc.html html=content skip_no_ids=true ordered=true class="markdown-toc" %}
            </details>
            <hr>

            {{ content }}

            <hr>
        </div>

    </div>
</div>