---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          
        </div>

        <div class="col-md-8">
            <div id="title">
                <h1><b>{{ page.parent }} - {{ page.title }}</b></h1>
                {% if page.release_date != nil %}
                    <p id="subtitle">({{ page.release_date }})</p>
                {% endif %}
            </div>

			<details open markdown="block">
  				<summary class="text-delta">
    				Table of contents
  				</summary>
            	{% include toc.html html=content skip_no_ids=true ordered=true class="markdown-toc" %}
            </details>
            <hr>

            {{ page.content }}

            <hr>
        </div>

    </div>
</div>